<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <context:component-scan base-package="org.workshop2.floorinxs.webcontrol"/>
    <context:annotation-config/>
    
    <bean id="klantService" class="org.workshop2.floorinxs.service.KlantServiceImpl"/>
    <bean id="klantDao" class="org.workshop2.floorinxs.dao.KlantDaoImpl"/>
    
    <bean id="viewResolver" 
         class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/jsp/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
    
    <mvc:annotation-driven />
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    
    <!-- Exception translation bean post processor -->
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>    
	
    <!-- Datasource config -->
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="springHikariCP"/>
        <property name="connectionTestQuery" value="SELECT 1"/>
        <property name="dataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlDataSource"/>
        <property name="dataSourceProperties">
            <props>
                <prop key="url">jdbc:Mysql://localhost:3306/workshop2db</prop> <!-- deze waarden nog aanpassen -->
                <prop key="user">w2admin</prop>
                <prop key="password">w2admin</prop>
            </props>
        </property>
    </bean>

    <!-- Datasource -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
	<constructor-arg ref="hikariConfig" />
    </bean>
	
    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	<property name="showSql" value="true"/>
	<property name="database" value="MYSQL" />
	<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
    </bean>
	
    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
	
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	<property name="persistenceXmlLocation" value="classpath:persistence.xml"/>
	<property name="persistenceUnitName" value="workshop2"/>
	<property name="dataSource" ref="dataSource"/>
	<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
	<property name="jpaDialect" ref="jpaDialect"/>
	<property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">validate</prop> <!-- validate verandert niets aan de database -->
            </props>
	</property>
    </bean>
	
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	<property name="entityManagerFactory" ref="entityManagerFactory" />
	<property name="dataSource" ref="dataSource" />
	<property name="jpaDialect" ref="jpaDialect" />
    </bean> 
    
    <tx:annotation-driven transaction-manager="transactionManager" />
	
</beans>
