body {
    margin: 20px;    
}

header {
    background-color:black;
    border-radius: 20px;
    color:white;
    text-align:center;
    padding:5px;
    /*border-radius: 25px;*/
}

a {
    color:black;
}

nav {    
    text-align: center;
}

#sidenav {
    padding-top: 20px;
    padding-left: 10px;
}

ul#menu {
    list-style-type: none;
    line-height:40px;
    height:300px;
    width:200px;
    float:left;
    padding:5px;	
}

ul#topmenu {
    list-style-type: none;
    padding: 0;
}

ul#topmenu li {    
    display: inline;
    margin: 20px 30px;
}

ul#topmenu li a, ul#menu li a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#topmenu li a:hover, ul#menu li a:hover {
    background-color: black;
    border-radius: 5px;
    color: white
} 

section {
    padding-left: 80px;
    padding-top: 20px;
    float: left;
    width: 1000px;
    min-height: 490px;
    border: 3px solid black;
    border-radius: 5px;
}